.preloader{
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: rgba(240,241,242,0.95) url('../svg/preloader.svg') no-repeat center center;"
}

.nav-treeview{
	margin-left: 20px;
}

#swal2-html-container{
	overflow: hidden;
}

#swal2-html-container .iLabel, #swal2-html-container .iInput{
	margin: auto;
	text-align: left;
}

#swal2-html-container .iRow{
	margin-top: 5px;
}